@model RecipeAndIngredientViewModel

<h1 class="text-center">create recipe</h1>
<div class="w-25 m-auto">
    <form method="post" asp-action="Create" class="d-flex flex-column gap-2" id="recipeForm">
        <div class="d-flex justify-content-between">
            <label>name</label>
            <input name="Name" autofocus/>
        </div>
        <hr/>
        <div class="d-flex justify-content-between">
            <label>ingredient</label>
            <select name="[0].IngredientId">
                @foreach (Ingredient ingredient in @Model.Ingredients)
                {
                <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <label>quantity</label>
            <input name="[0].Quantity"/>
        </div>
        <button id="addField" type="button">add</button>
        <button class="btn btn-dark">create</button>
    </form>
</div>
<script>
let counter = 0
const addField = document.getElementById("addField")
addField.addEventListener("click", () => {
    counter += 1
    addField.insertAdjacentHTML("beforeBegin", `
        <hr/>
        <div class="d-flex justify-content-between">
            <label>ingredient</label>
            <select name="[${counter}].IngredientId">
                @foreach (Ingredient ingredient in @Model.Ingredients)
                {
<option value="@ingredient.Id">@ingredient.Name</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <label>quantity</label>
            <input name="[${counter}].Quantity"/>
        </div>
`)})
</script>
