@model RecipeAndIngredientViewModel

<h1 class="text-center">update recipe</h1>
<div class="w-25 m-auto">
    <form method="post" asp-action="Update" class="d-flex flex-column gap-2" id="recipeForm">
        <div class="d-flex justify-content-between">
            <label>name</label>
            <input asp-for="@Model.Recipe.Name" autofocus/>
        </div>
        @for (int i = 0; i < @Model.Recipe.Ingredients.Count(); i++)
        {
        <hr/>
        <div class="d-flex justify-content-between">
            <label>ingredient</label>
            <select asp-for="@Model.Recipe.Ingredients[i].IngredientId">
                @foreach (Ingredient ingredient in @Model.Ingredients)
                {
                <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <label>grams</label>
            <input asp-for="@Model.Recipe.Ingredients[i].Grams"/>
        </div>
        }
        <button id="addField" type="button">add</button>
        <button class="btn btn-dark">create</button>
    </form>
</div>
<script>
let counter = -1
const addField = document.getElementById("addField")
addField.addEventListener("click", () => {
    counter += 1
    addField.insertAdjacentHTML("beforeBegin", `
        <hr/>
        <div class="d-flex justify-content-between">
            <label>ingredient</label>
            <select name="[${counter}].IngredientId">
                @foreach (Ingredient ingredient in @Model.Ingredients)
                {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <label>grams</label>
            <input name="[${counter}].Grams"/>
        </div>
`)})
</script>

