@model Ingredient

<h1>@Model.Name</h1>
<table class="table">
    <thead>
        <tr>
            <th>macro</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fats</th>
            <th>Calories/100g</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>grams</td>
            <td>@Model.Protein</td>
            <td>@Model.Carbs</td>
            <td>@Model.Fats</td>
            <td>@Model.Calories</td>
        </tr>
    </tbody>
</table>
