@model List<DayViewModel>
    @{
    ViewData["Title"] = "Day View";
    }

    <div class="d-flex justify-content-between align-items-center">
        <h1>days</h1>
        <a asp-controller="Day" asp-action="Create" class="btn btn-dark">create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>day</th>
                <th>protein</th>
                <th>carbs</th>
                <th>fats</th>
                <th>calories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
            <tr><td colspan="5" class="text-center">no recipes added</td></tr>
            }
            else
            {
            @foreach (DayViewModel day in Model)
            {
            <tr>
                <td><a asp-controller="Day" asp-action="Detail" asp-route-id="@day.Id">@day.Name</a></td>
                <td>@day.Recipes.Sum(i => i.Ingredients.Sum(j => j.Ingredient.Protein * j.Quantity))</td>
                <td>@day.Recipes.Sum(i => i.Ingredients.Sum(j => j.Ingredient.Carbs * j.Quantity))</td>
                <td>@day.Recipes.Sum(i => i.Ingredients.Sum(j => j.Ingredient.Fats * j.Quantity))</td>
                <td>@day.Recipes.Sum(i => i.Ingredients.Sum(j => j.Ingredient.Calories * j.Quantity))</td>
                <td>
                    <a class="btn btn-dark" asp-controller="Day" asp-action="Update" asp-route-id="@day.Id">edit</a>
                    <a class="btn btn-dark" asp-controller="Day" asp-action="Delete" asp-route-id="@day.Id">delete</a>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
